@import "../../../styles/variables";

.ticket {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background: $primary-background-light;
    box-shadow: $material-box-shadow-light-1;
    border-radius: 3px;
    margin: 10px 0;
    padding: 10px;
    cursor: pointer;
}

.ticket-header-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 10px 0;
}

.ticket_title {
    color: $primary-text-highlight-light;

    &:hover {
        text-decoration: underline;
    }
}

.delete-icon {
    width: 15px;
    height: 15px;
}