/***************
*  BACKGROUND  *
****************/
$primary-background-light: #ffffff;
$secondary-background-light: #fafbfc;
$tertiary-background-light: #eff1f3;
$quaternary-background-light: #888888;

/*********
*  TEXT  *
**********/
$primary-text-light: #404040;