@import "../styles/variables";

.column {
    border-radius: 7px;
    background: $tertiary-background-light;
    border: 1px solid $tertiary-border-light;
    padding: 10px;
}

.temp_tkt {
    background: #b9b9b9;
    height: 200px;
    margin: 10px 0;
}