@import "../styles/variables";

.dropdown {

    cursor: pointer;

    &.disabled {
        cursor: default;
        background: $tertiary-background-light;
    }
}

.dropdown_label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.dropdown_background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: $dropdown-background-z-index;
}

.dropdown_content {
    position: absolute;
    background: $primary-background-light;
    box-shadow: $material-box-shadow-light-2;
    border-radius: 7px;
    padding: 10px;
    z-index: $dropdown-content-z-index;
}

.dropdown_icon {
    width: 30px;
    height: 30px;
}